<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>ML deep learning</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
<style>
.container{
   display:flex;
   justify-content: center;
   align-items: center;
   height: 100vh;
   flex-direction: column;
}
.card{
      padding: 1.25rem;
    }
    h1{
        margin-bottom: 2rem;
    }
</style>
<a href="{% url 'poldash' %}" class="btn" style="top: 1%; margin: 5px; left:2px; position: absolute; background-color: rgb(9, 142, 142,0.6); font-size: large;">Back</a>
<div class="container">
 
   <div class="card" style="border-color: teal;">

<div><h1>Criminal detector</h1></div>
<h3><button type="button" class="btn" style="background-color: teal;" onclick="init()">Start</button></h3>
<h5><div id="webcam-container"></div></h5>
<h5><div id="label-container"></div></h5>
</div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/@tensorflow/tfjs@latest/dist/tf.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@teachablemachine/image@latest/dist/teachablemachine-image.min.js"></script>
<script type="text/javascript">
   
    const URL = "https://teachablemachine.withgoogle.com/models/mrkwx5Nk8/";

    let model, webcam, labelContainer, maxPredictions;

    async function init() {
        const modelURL = URL + "model.json";
        const metadataURL = URL + "metadata.json";

        
        model = await tmImage.load(modelURL, metadataURL);
        maxPredictions = model.getTotalClasses();

        
        const flip = true; 
        webcam = new tmImage.Webcam(200, 200, flip); 
        await webcam.setup();
        await webcam.play();
        window.requestAnimationFrame(loop);

        
        document.getElementById("webcam-container").appendChild(webcam.canvas);
        labelContainer = document.getElementById("label-container");
        for (let i = 0; i < maxPredictions; i++) { 
            labelContainer.appendChild(document.createElement("div"));
        }
    }

    async function loop() {
        webcam.update(); 
        await predict();
        window.requestAnimationFrame(loop);
    }

    
    async function predict() {
        
        const prediction = await model.predict(webcam.canvas);
        for (let i = 0; i < maxPredictions; i++) {
            const classPrediction =
                prediction[i].className + ": " + prediction[i].probability.toFixed(2);
            labelContainer.childNodes[i].innerHTML = classPrediction;
        }
    }
</script>